.order {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	top: 0;
	left: 0;
	z-index: 21;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.5s ease 0s;
	&__container {
		min-height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 60px 30px;
	}
	&__wrap {
		background-color: $c7;
		align-items: center;
		padding: 30px;
		// margin: 50px;
		max-width: 600px;
		min-width: 300px;
		position: relative;
		border-radius: 20px;
		transition: all 0.5s ease 0s;
		opacity: 0;
		transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
	}
	&__close {
		position: relative;
		top: 0;
		left: 95%;
	}
	&__close img {
		color: $c8;
		height: 25px;
		width: 25px;
	}
	&__title {
		text-align: center;
		align-items: center;
		font-family: $f3;
		font-weight: 900;
		font-size: 50px;
		color: $c8;
		margin-bottom: 15px;
	}
	&__text {
		font-size: 20px;
		font-family: $f4;
		color: $c9;
	}
	&__text i {
		color: $c8;
		font-weight: 500;
	}
	&__text span {
		color: $c8;
		font-weight: 900;
		font-size: 22px;
	}
	&__subtitle {
		font-size: 26px;
		color: $c8;
		font-family: $f6;
		font-weight: 700;
		margin-bottom: 5px;
	}
	&__desc {
		font-family: $f3;
		text-align: center;
		align-items: center;
		margin: 0 auto;
		font-weight: 700;
		font-size: 18px;
		max-width: 80%;
		color: $c9;
		font-style: italic;
	}
	&__desc:not(:last-child) {
		margin-bottom: 20px;
	}
	&__btn {
		align-items: center;
		text-align: center;
		margin: 0 auto;
		margin-bottom: 20px;
		margin-top: 20px;
	}
	&__btn button {
		box-shadow: 1px 2px 7px $c2;
		background-color: $c4;
		padding: 10px 80px;
		border-radius: 20px;
		color: $c9;
		font-weight: 700;
		font-family: $f4;
		transition: 0.7s;
		border: solid 1px $c8;
	}
	//------------
	&__btn button:active {
		transition-duration: 0.7s;
		box-shadow: 5px 4px 15px $c6;
		background-color: $c3;
		color: $c9;
		transform: scale(0.8);
	}
}
.order.open {
	opacity: 1;
	visibility: visible;
}
.order.open .order__wrap {
	transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
	opacity: 1;
}
.text-content {
	&__block {
		margin-bottom: 10px;
	}
	&__block input {
		margin-top: 5px;
		padding: 5px 10px;
		border-radius: 20px;
		min-width: 30%;
		border: solid 1px $c5;
		box-shadow: 3px 2px 6px #953f3fbf;
		background-color: $c9;
		color: $c2;
		font-family: $f6;
	}
	&__block textarea {
		margin-top: 5px;
		padding: 5px 10px;
		border-radius: 20px;
		min-width: 30%;
		border: solid 1px $c5;
		box-shadow: 3px 2px 6px #953f3fbf;
		background-color: $c9;
		color: $c2;
		min-height: 70px;
		font-family: $f6;
		resize: none;
	}

	&__block select {
		margin-top: 5px;
		padding: 5px 10px;
		border-radius: 20px;
		min-width: 30%;
		border: solid 1px $c5;
		box-shadow: 3px 2px 6px #953f3fbf;
		background-color: $c9;
		color: $c2;
		font-family: $f6;
	}
	&__block-radio input {
		box-shadow: none;
		align-items: start;
		text-align: left;
		border: none;
		min-width: 0;
		padding-right: 10px;
	}
	&__block-radio p {
		color: $c9;
		padding-left: 10px;
	}
	&__title {
		color: $c8;
		font-size: 26px;
		font-weight: 700;
		font-family: $f6;
	}
	&__desc {
		color: $c9;
		font-size: 18px;
		max-width: 400px;
	}
	&__dop {
		min-height: 70px;
	}
	&__radio {
		display: flex;
		justify-content: start;
		text-align: center;
		align-items: baseline;
		margin: 0 auto;
	}
	&__radio input::file-selector-button {
		color: $c2;
	}
	&__file input::file-selector-button {
		font-weight: bold;
		color: $c8;
		padding: 0.5em;
		border: solid $c5;
		border-radius: 15px;
		background-color: $c5;
		cursor: pointer;
		box-shadow: 2px 1px 4px #953f3fbf;
		transition: 0.7s;
	}
	&__file input::file-selector-button:active {
		transform: scale(0.9);
		transition: 0.7s;
	}
}
//--------------------------------------
.form_radio_btn {
	display: inline-block;
	margin-top: 5px;
	margin-right: 10px;
	font-family: $f6;
	background-color: $c9;
	border-radius: 25px;
	font-weight: 500;
	color: $c7;
	box-shadow: 3px 2px 6px #953f3fbf;
	transition: 0.5s;
}
.form_radio_btn input[type='radio'] {
	display: none;
	transition: 0.7s;
}
.form_radio_btn label {
	display: inline-block;
	cursor: pointer;
	padding: 0px 15px;
	line-height: 34px;
	border: 1px solid $c5;
	border-radius: 15px;
	user-select: none;
	transition: 0.7s;
}

/* Checked */
.form_radio_btn input[type='radio']:checked + label {
	background: $c5;
	transition: 0.7s;
	color: $c8;
}

/* Hover */
.form_radio_btn label:hover {
	color: $c3;
	transition: 0.7s;
}
.form_radio_btn:active {
	transform: scale(0.9);
	transition: 0.7s;
}
body.lock {
	overflow: hidden;
}
